@* p.269 [Add] 指定された条件（タイトルと刊行日）で書籍情報を絞り込むための例（LINQメソッド構文） *@
@model IEnumerable<SelfAspNetCore.Models.Book>

@{
    ViewData["Title"] = "Filter";
}

<form asp-action="Filter" method="GET" class="form-inline">
    @* 検索フォーム *@
    <label for="keyword" class="mr-2">キーワード：</label>
    <input id="keyword" name="keyword" type="text" class="form-control" />

    <label for="released" class="control-check-label">刊行済み：</label>
    <input id="released" name="released" type="checkbox" value="true" class="form-check-input" />

    <input type="submit" value="検索 " class="btn btn-info" />
</form>
<hr />

@* 検索結果一覧（規定では全件表示） *@
<table class="table">
    <thead>
        <tr>
            @* <th>ISBNコード</th><th>書名</th><th>価格</th><th>出版社</th><th>刊行日</th><th>配布サンプル</th> *@
            <th>@Html.DisplayNameFor(b => b.Isbn)</th>
            <th>@Html.DisplayNameFor(b => b.Title)</th>
            <th>@Html.DisplayNameFor(b => b.Price)</th>
            <th>@Html.DisplayNameFor(b => b.Publisher)</th>
            <th>@Html.DisplayNameFor(b => b.Published)</th>
            <th>@Html.DisplayNameFor(b => b.Sample)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Isbn)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.Published)</td>
                <td>@Html.DisplayFor(modelItem => item.Sample)</td>
            </tr>
        }
    </tbody>
</table>